iframe {
  height: 98%;
  border: none;
  border-right: 1px solid #999;
  &.bookmarks {
    width:  4%;
  }
  &.contents {
    overflow: scroll;
    width:  19%;
  }
  &.column {
    width:  37%;
  }
}
